// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments {
    padding: 3px;
    margin-top: 5px;
}

.comment {
    margin-top: 5px;
    padding-left: 10px;
}